<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
  <div th:text="${errors}" class="margin-bottom alert-danger"></div>
  <form action="#" th:action="@{/teacher/{id}(id=${id})}" th:object="${teacherDto}" method="post">
    <div class="mb-3">
      <label for="firstName" class="form-label">Имя</label>
      <input type="text" class="form-control" id="firstName" th:field="${teacherDto.firstName}" required="true">
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Фамилия</label>
      <input type="text" class="form-control" id="lastName" th:field="${teacherDto.lastName}" required="true">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary button-fixed">
        <span th:if="${id == null}">Добавить</span>
        <span th:if="${id != null}">Обновить</span>
      </button>
      <a class="btn btn-secondary button-fixed" th:href="@{/teacher}">
        Назад
      </a>
    </div>
  </form>
</div>
</body>
</html>