<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div>
        <a class="btn btn-success button-fixed"
           th:href="@{/learningPlan/edit/}">
            <i class="fa-solid fa-plus"></i> Добавить
        </a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Специальность</th>
                <th scope="col">Дисциплины</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="learningPlan, iterator: ${learningPlans}">
                <th scope="row" th:text="${iterator.index} + 1"/>
                <td th:text="${learningPlan.id}"/>
                <td th:text="${learningPlan.name}" style="width: 60%"/>
                <td th:text="${learningPlan.specialtyName}" style="width: 60%"/>
                <td th:text="${learningPlan.disciplines}" style="width: 60%"/>
                <td style="width: 10%">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-warning button-fixed button-sm"
                           th:href="@{/learningPlan/edit/{id}(id=${learningPlan.id})}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                        </a>
                        <button type="button" class="btn btn-danger button-fixed button-sm"
                                th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${learningPlan.id}').click()|">
                            <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                        </button>
                    </div>
                    <form th:action="@{/learningPlan/delete/{id}(id=${learningPlan.id})}" method="post">
                        <button th:id="'remove-' + ${learningPlan.id}" type="submit" style="display: none">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>